.primary-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.ascent-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


/* Nav Styles */
/* .menu li a{
    font-size: 16px;
    color: gray;
    font-weight: 500;
}
#active{
    color: black;
} */




/* ==============================
Mobile Responsive
=================================*/
/* 
@media screen and (max-width:576px) {
    .menu-item{
        display: none;
    }
    .header{
        margin: 0;
    }
} */